@use '../distances/dist';
@use '../colors/colors';

* {
  box-sizing: border-box;
}

.skill {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  margin: auto;
}

.skill-name {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
  color: colors.$text-color-gray-1;
}

.visualization-box {
  border-radius: 50rem;
  border: 2px solid colors.$green-color;
  width: dist.$skill-standard;
  height: 1.2rem;
  overflow: hidden;
  //width: 7rem;
}

.skill-value {
  background-color: colors.$green-color;
  height: 2rem;
}

@media (max-width: 1800px) {
  .visualization-box {
    width: dist.$skill-medium;
  }
}

@media (max-width: 1570px) {
  .skill-name {
    font-size: 1.2rem;
  }
  .visualization-box {
    height: 1rem;
    width: dist.$skill-small;
  }
}

@media (max-width: 900px) {
  .skill {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .skill {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .skill {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .skill-name {
    font-size: 1rem;
  }
  .visualization-box {
    height: 0.8rem;
    width: 40%;
  }
}
