    .experience-box {
        display: flex;
        font-size: 1.2rem;
        gap: 1rem;
    }

    .left-side {
        width: 7rem;
    }

    .right-side {

    }

    .period {
        text-align: right;
    }

    .name {

    }

    .position {
        font-size: 1rem;
    }

    .description {

    }