@media screen and (max-width: 600px) {
  .app {
    background-color: lightblue;
  }
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.app {
  background-color: #0A192F;
  color: white;
  padding: 0;
  padding-bottom: 15rem;
  overflow-x: hidden;
}

.header-box {
  display: flex;
  justify-content: space-evenly;
  padding: 0 3rem;
  align-items: center;
  height: 10vh;
}

.upp-butt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.icon {
  font-size: 2rem;
  stroke-width: "3px";
  font-weight: 600;
  color: #40A794;
}

.header-left-side {
  width: 80vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-button-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-content: center;
}

.header-button-list-item,
.nav-link-button {
  text-decoration: none;
  width: 10rem;
  height: 5vh;
  margin: 0;
  display: flex;
  align-items: center;
  color: #a4aeca;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
}

/**Land-page*/
.land-page {
  position: relative;
  padding: 0 13rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.img-box {
  position: absolute;
  right: 10rem;
  top: 10rem;
  z-index: 0;
}

.green {
  font-weight: 600;
  color: #40A794;
}

.salute-text {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
}

.name-text {
  font-size: 5rem;
  font-weight: 700;
  padding: 0;
  color: #CCD8F8;
  margin-top: -1rem;
}

.main-title {
  font-size: 5rem;
  font-weight: 700;
  padding: 0;
  color: #8892B0;
  margin-bottom: 0rem;
  z-index: 100;
}

.landpage-m-title {
  margin-top: -5rem;
}

.main-desc, .description {
  color: #a4aeca;
  width: 35rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.img {
  width: 25vw;
  border-radius: 25vw;
}

.about-me-box {
  padding: 0 13rem;
}

.about-me-boxes {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.courses-section {
  grid-column: 2;
  grid-row: 1/span 2;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.skill-box {
  padding: 0 13rem;
}

.skill-m-title {
  margin-top: 0;
}

.secondary-title {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0;
  color: #CCD8F8;
}

.skill-list {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 1.5rem;
  margin-bottom: 1rem;
}

.project-section {
  padding: 0 13rem;
  height: 53rem;
}

.project-list {
  margin: 0 auto;
  border: thin solid red;
  position: relative;
  display: grid;
  margin-top: 2rem;
  transition: transform 0.3s ease;
  -moz-column-gap: 0;
       column-gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.project-box {
  margin: 0 auto;
}

.project-navigation-buttons {
  position: absolute;
  top: 50%;
  display: flex;
  width: 105%;
  justify-content: space-between;
  margin: 0 -2rem;
}

.contact-section {
  padding: 0 13rem;
}

@media (max-width: 1800px) {
  .html {
    font-size: 50%;
  }
  .land-page {
    padding: 0 10rem;
    padding-top: 5rem;
  }
  .salute-text {
    font-size: 1.3rem;
  }
  .name-text {
    font-size: 4rem;
  }
  .main-title {
    font-size: 3rem;
    font-weight: 700;
  }
  .img {
    width: 25vw;
    border-radius: 25vw;
  }
  .about-me-box {
    padding: 0 10rem;
  }
  .about-me-boxes {
    margin: 0 3rem;
  }
  .skill-box {
    padding: 0 10rem;
  }
  .secondary-title {
    font-size: 2rem;
  }
  .skill-list {
    margin: 0 3rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
  }
  .project-section {
    padding: 0 10rem;
  }
  .project-list {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .project-navigation-buttons {
    top: 50%;
    display: flex;
    width: 105%;
    justify-content: space-between;
    margin: 0 -2rem;
  }
  .contact-section {
    padding: 0 10rem;
  }
}
@media (max-width: 1800px) {
  .project-navigation-buttons {
    width: 110%;
  }
  .about-me-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1450px) {
  .html {
    font-size: 40%;
  }
  .land-page {
    padding: 0 7vw;
    padding-top: 5rem;
  }
  .about-me-box {
    padding: 0 7vw;
  }
  .skill-box {
    padding: 0 7vw;
  }
  .skill-list {
    margin: 0 3rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 1280px) {
  .html {
    font-size: 70%;
  }
  .land-page {
    padding: 0 5vw;
    padding-top: 5rem;
  }
  .about-me-box {
    padding: 0 5vw;
  }
  .skill-box {
    padding: 0 5vw;
  }
  .skill-list {
    margin: 0 3rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1150px) {
  .description {
    font-size: 1.2rem;
    width: 50%;
  }
  .salute-text {
    font-size: 1.3rem;
  }
  .name-text {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .main-title {
    font-size: 2rem;
  }
  .skill-list {
    width: 90%;
    margin: 0 3rem;
    row-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-navigation-buttons {
    width: 120%;
  }
  .courses-section {
    grid-column: 2;
  }
}
@media (max-width: 900px) {
  .right-side {
    width: 50rem;
  }
  .description-exp {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about-me-boxes {
    grid-template-columns: 1fr;
  }
  .courses-section {
    grid-column: 1;
  }
}
@media (max-width: 900px) {
  .skill-list {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=App.css.map */