@use 'distances/dist';
@use 'colors/colors';
@import 'media';

* {
    box-sizing: border-box;
  }

@mixin border {
    border: thin solid red;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin left {
    display: flex;
    justify-content: left;
    align-items: center;
}

@mixin right {
    display: flex;
    justify-content: right;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
  }
  


$side-dist: dist.$side-distance-standard;
$side-dist-medium: dist.$side-distance-medium;
$side-dist-small: dist.$side-distance-small;
$side-dist-extra-small: dist.$side-distance-extra-small;



$background-color: colors.$background-color;
$header-color: colors.$header-color;
$green-color: colors.$green-color;
$text-gray-1: colors.$text-color-gray-1;
$text-gray-2: colors.$text-color-gray-2;
$text-gray-3: colors.$text-color-gray-3;


.app {
   background-color: $background-color;
    color: white;
    padding: 0;
    padding-bottom: 15rem;
    overflow-x: hidden;
}

.header-box {
    display: flex;
    justify-content: space-evenly;
    padding: 0 3rem;
    align-items: center;
    height: 10vh;
//    background-color: $header-color;
}

.upp-butt {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
  }  

.icon {
    font-size: 2rem; 
    stroke-width:"3px";
    font-weight: 600;
    color: $green-color;
}


.header-left-side {
    width: 80vw;
    @include left;
}


.header-button-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-content: center;    
}


.header-button-list-item, 
.nav-link-button {
    text-decoration: none;
    width: 10rem;
    height: 5vh;
    margin: 0;
    display: flex;
    align-items: center;
    color: $text-gray-3;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
}


/**Land-page*/
.land-page {
    position: relative;
    padding: 0 $side-dist;
    padding-top: 5rem;
    margin-bottom: 5rem;

}

.img-box {
    position: absolute;
    right: 10rem;
    top: 10rem;
    z-index: 0;
}

.green { 
    font-weight: 600;
    color: $green-color;
}
.salute-text {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
}

.name-text {
    font-size: 5rem;
    font-weight: 700;
    padding: 0;
    color: $text-gray-1;
    margin-top: -1rem;
}

.main-title {
    font-size: 5rem;
    font-weight: 700;
    padding: 0;
    color: $text-gray-2;
    margin-bottom: 0rem;
    z-index: 100;
}

.landpage-m-title {
    margin-top: -5rem;
}

.main-desc, .description {
    color: $text-gray-3;
    width: 35rem;
    font-size: 1.2rem;
    line-height: 1.8rem;;
}


.img {
    width: 25vw;
    border-radius: 25vw;
}


//About me
.about-me-box {
    padding: 0 $side-dist;
}

.about-me-boxes {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.courses-section {
    grid-column: 2;
    grid-row: 1/span 2;
}

.buttons {
    display: flex;
    gap: 2rem;
}



//skills
.skill-box {
    padding: 0 $side-dist;
}

.skill-m-title {
    margin-top: 0;
    
}

.secondary-title {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0;
    color: $text-gray-1;
}

.skill-list {
    margin: 0 5rem;
//    @include border;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 1.5rem;
    margin-bottom: 1rem;
}


//projects
.project-section {
    padding: 0 $side-dist;
    height: 53rem;
}

.project-list {
    margin: 0 auto;
    border: thin solid red;
        position: relative;
    display: grid;
    margin-top: 2rem;
    transition: transform 0.3s ease; 
    column-gap: 0;
    grid-template-columns: repeat(3, 1fr);
}

.project-box {
    margin: 0 auto;
}

.project-navigation-buttons {
    position: absolute;
    top: 50%;
    display: flex;
    width: 105%;
    justify-content: space-between;
    margin: 0 -2rem;
    }



.contact-section {
    padding: 0 $side-dist;
    
}


@media (max-width: 1800px) {
    .html {
        font-size: 50%;
    }

    .land-page {
        padding: 0 $side-dist-medium;
        padding-top: 5rem;
    }      
    .salute-text {
        font-size: 1.3rem;
    }
    
    .name-text {
        font-size: 4rem;
    }
    
    .main-title {
        font-size: 3rem;
        font-weight: 700;
    }
    
    
    .img {
        width: 25vw;
        border-radius: 25vw;
    }
    
    .about-me-box {
        padding: 0 $side-dist-medium;
    }
    
    .about-me-boxes {
        margin: 0 3rem;     
    }
    
    .skill-box {
        padding: 0 $side-dist-medium;
    }
    
    .secondary-title {
        font-size: 2rem;
    }
    
    .skill-list {
        margin: 0 3rem;
        column-gap: 3rem;
        row-gap: 0.5rem;
        margin-bottom: 1rem;
    }
    
//
    .project-section {
        padding: 0 $side-dist-medium;
    }
    
    .project-list {
            position: relative;
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }
    .project-navigation-buttons {
        top: 50%;
        display: flex;
        width: 105%;
        justify-content: space-between;
        margin: 0 -2rem;
        }
    
    
    
    
    .contact-section {
        padding: 0 $side-dist-medium;
        
    }

  }

    @media (max-width: 1800px) {
        .project-navigation-buttons {
            width: 110%;
            }
        .about-me-boxes {
            grid-template-columns: repeat(2, 1fr);
    
        }
    
        }


    @media (max-width: 1450px) {
        .html {
            font-size: 40%;
        }
    
        .land-page {
            padding: 0 $side-dist-small;
            padding-top: 5rem;
        }      
        
        .about-me-box {
            padding: 0 $side-dist-small;
        }
        
        .skill-box {
            padding: 0 $side-dist-small;
        }
        
        .skill-list {
    
            margin: 0 3rem;
            column-gap: 3rem;
            row-gap: 0.5rem;
            margin-bottom: 1rem;
        }
    }
    
    @media (max-width: 1280px) {
        .html {
            font-size: 70%;
        }
    
        .land-page {
            padding: 0 $side-dist-extra-small;
            padding-top: 5rem;
        }      
        
        .about-me-box {
            padding: 0 $side-dist-extra-small;
        }
        
        .skill-box {
            padding: 0 $side-dist-extra-small;
        }
        
        .skill-list {
    
            margin: 0 3rem;
            column-gap: 3rem;
            row-gap: 0.5rem;
            margin-bottom: 1rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }


    @media (max-width: 1150px) {
        .description {
            font-size: 1.2rem;
            width: 50%;
        }

        .salute-text {
            font-size: 1.3rem;
        }
        
        .name-text {
            font-size: 3rem;
            margin-bottom: 5rem ;
        }
        
        .main-title {
            font-size: 2rem;
        }
        
        .skill-list {
            width: 90%;
            margin: 0 3rem;
            row-gap: 0.5rem;
            grid-template-columns: repeat(2, 1fr);
        }



        .project-navigation-buttons {
            width: 120%;
            }

            .courses-section {
                grid-column: 2;
            }
        
    }

    @media (max-width: 900px) {
        .right-side {
            width: 50rem;
        }
        .description-exp {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .about-me-boxes {
            grid-template-columns: 1fr;
    
        }

        .courses-section {
            grid-column: 1;
        }
    }

    @media (max-width: 900px) {
        .skill-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }