@use '../distances/dist';
@use '../colors/colors';

.form-box {
    display: flex;
    justify-content: center; /* Középre igazítás */
}

.form {
    border: 1px solid colors.$green-color;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Két egyenlő széles oszlop */
}

.label {
    align-self: center; /* Címkék középre igazítása a magasságot tekintve */
}

.message {
    grid-column: span 2; /* A message mező kiterjed két oszlopra */
    height: 15rem;
}

.input-field {
    font-size: 1.5rem;
    background: none;
    border: none;
    border: 1px solid colors.$green-color;
    width: 100%;
    color: colors.$text-color-gray-1;
}/* ContactMe.css */

.form-box {
    display: flex;
    justify-content: center; /* Középre igazítás */
}

.form {
    border: 1px solid colors.$green-color;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Automatikusan hozzon létre új oszlopot, ha szükséges, legalább 200px széles */
    grid-gap: 10px; /* Rések a cellák között */
}

.label {
    align-self: center; /* Címkék középre igazítása a magasságot tekintve */
}

.message {
    grid-column: span 2; /* A message mező kiterjed két oszlopra */
    height: 15rem;
    resize: none;
}

.input-field {
    font-size: 1.5rem;
    background: none;
    border: none;
    border: 1px solid colors.$green-color;
    width: 100%;
    color: colors.$text-color-gray-1;
}
