@use '../distances/dist';
@use '../colors/colors';

.form-box {
    display: flex;
    justify-content: center; 
    gap: 0;
}

.form {
    border: 1px solid colors.$green-color;
}

.input-field {
    padding: 1rem;
    font-size: 1.5rem;
    background: none;
    margin: 0;
    border: none;
    border: 1px solid colors.$green-color;
    width: 100%;
    color: colors.$text-color-gray-1;
}


.message {
    height: 15rem;
    resize: none;
    border-bottom: 10px;
}
.bttn-send {
    width: 100%;
    background-color: colors.$green-color;
    display: flex;
    border: 1px solid colors.$green-color;
    align-items: center;
    height: 3rem;
    margin: 0;
}

.send-message {
  margin: auto;
  font-size: 1.5rem;
  height:max-content;
}